* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f5f5f5;
}

//Variables
$main-color: #cf6f49;
$light-grey: #65665c;
$black: #222222;
$black-grey: #2a2c1f;

.icon {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  &__box {
    width: 32px;
    height: 32px;
    background: #cf6f49;
    border-radius: 12px;
  }
  &__name {
    font-weight: bold;
  }
}
