* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
}
ul,
ol {
  list-style: none;
}
img {
  width: 100%;
}
a {
  color: inherit;
}
button {
  border: none;
  cursor: pointer;
}
a {
  text-decoration: none;
}
